@import '../../styles/shared';

.Article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .Article-inner {
        border-radius: .8rem;
        background-color: white;
        display: flex;

        .Article-content {
            display: flex;
            flex-direction: column;
            color: $primary-text-color;
            header {
                margin-bottom: .8rem;
                h2 {
                    line-height: 1.8rem;
                }
            }
            p {
                font-weight: $font-small-weight;
                color: $secondary-color;
                line-height: 1.2rem;
            }
            .Article-footer {
                display: flex;
                align-items: center;
                margin-top: 1.8rem;
                justify-content: space-between;
                .Article-profile-info {
                    display: flex;
                    align-items: center;
                    .Article-profile-desc {
                        margin-left: .8rem;
                        h5 {
                            margin: .2rem 0rem;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

// Desktop: 1440px
@media (min-width: 1440px) {
    .Article-inner {
        width: 850px;
        .Article-content {
            margin: 2rem;
        }
    }
}

// Mobile: 375px
@media (max-width: 375px) {
    .Article-inner {
        margin: 1.5rem;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        .Article-content {
            margin: 1.5rem;
            position: relative;
        }
    }
    .Article-share-bottom {
        position: absolute;
        left: -1.5rem;
        bottom: -1.5rem;
        right: -1.5rem;
		background-color: $primary-text-color;
		color: $secondary-color;
		border-bottom-left-radius: 0.8rem;
		border-bottom-right-radius: 0.8rem;
		padding: 1.1rem 2rem;
		display: flex;
		align-items: center;
        justify-content: space-between;
        transition: transform .3s ease-out;
        .share-bottom {
            display: flex;
        }
		p {
			text-transform: uppercase;
			letter-spacing: 0.4rem;
        }
        .social-icons {
            img {
                margin: 0rem .3rem;
                cursor: pointer;
            }
        }
	}
}