@import '../../styles/shared';

.Article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .Article-inner {
        border-radius: .8rem;
        background-color: white;
        width: 850px;
        display: flex;

        .Article-content {
            display: flex;
            flex-direction: column;
            margin: 2rem;
            color: $primary-text-color;
            header {
                margin-bottom: .8rem;
                h2 {
                    line-height: 1.8rem;
                }
            }
            p {
                font-weight: $font-small-weight;
                color: $secondary-color;
                line-height: 1.2rem;
            }
            .Article-footer {
                display: flex;
                align-items: center;
                margin-top: 1.8rem;
                justify-content: space-between;
                .Article-profile-info {
                    display: flex;
                    align-items: center;
                    .Article-profile-desc {
                        margin-left: .8rem;
                    }
                }
            }
        }
    }
}