@import '../../styles/shared';

.ImageLeftside {
	border-top-left-radius: 0.8rem;
	border-bottom-left-radius: 0.8rem;
}

.img-circle {
	width: 40px;
	height: 40px;
	border-radius: 35px;
}

.img-share {
	padding: 0.6rem;
	cursor: pointer;
}

.sharer-icon-container {
	position: relative;
	width: 34px;
	height: 34px;
	border-radius: 30px;
	background-color: $accent-color;

	.sharer-float {
		position: absolute;
		top: -95px;
		left: -115px;
		border-radius: 0.6rem;
		padding: 1.3rem 1.1rem;
		background-color: $primary-text-color;
		display: flex;

		transition: visibility .3s, opacity .3s;

		.arrow_box {
			position: relative;
			background: $primary-text-color;
			&:after {
				top: 40px;
				left: 115px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-top-color: $primary-text-color;
				border-width: 18px;
				margin-left: -18px;
			}
		}

		p {
			text-transform: uppercase;
			margin: 0rem 1.1rem;
			letter-spacing: 0.4rem;
		}
		.social-icons {
			display: flex;
			img {
				margin: 0rem 0.6rem;
				cursor: pointer;
			}
		}
	}

	.hidden {
		visibility: hidden;
		opacity: 0;
	}
	.visible {
		visibility: visible;
		opacity: 1;
	}
}
