@import '../../styles/shared';

.ImageLeftside {
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

.img-circle {
    width: 40px;
    height: 40px;
    border-radius: 35px;
}

.img-share {
    padding: .6rem;
}

.sharer-icon-container {
    width: 34px;
    height: 34px;
    border-radius: 30px;
    background-color: $accent-color;
    cursor: pointer;
}