@import '../../styles/shared';


.img-circle {
	width: 40px;
	height: 40px;
	border-radius: 35px;
}

.img-share {
	padding: 0.6rem;
	cursor: pointer;
}

.sharer-icon-container {
	position: relative;
	// width: 34px;
	// height: 34px;
	border-radius: 30px;

	.sharer-float {
		position: absolute;
		top: -95px;
		left: -115px;
		border-radius: 0.6rem;
		padding: 1.3rem 1.1rem;
		background-color: $primary-text-color;

		transition: visibility .3s, opacity .3s;

		.arrow_box {
			position: relative;
			background: $primary-text-color;
			&:after {
				top: 40px;
				left: 115px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-top-color: $primary-text-color;
				border-width: 18px;
				margin-left: -18px;
			}
		}

		p {
			text-transform: uppercase;
			margin: 0rem 1.1rem;
			letter-spacing: 0.4rem;
		}
		.social-icons {
			display: flex;
			img {
				margin: 0rem 0.6rem;
				cursor: pointer;
			}
		}
	}

}


// Desktop: 1440px
@media (min-width: 1280px) {

	.sharer-icon-container {
		background-color: $accent-color;
	}

    .ImageLeftside {
		border-top-left-radius: 0.8rem;
		border-bottom-left-radius: 0.8rem;
	}
	.sharer-float {
		display: flex;
	}
	.visible {
		visibility: visible;
		opacity: 1;
	}
	.hide {
		display: none;
	}
	.hidden {
		visibility: hidden;
		opacity: 0;
	}
}

// Mobile: 375px
@media (max-width: 375px) {

	.icon-shared {
		background-color: $accent-color;
	}

	.inverted-shared {
		background-color: $primary-color;
	}

	.icon {
		width: 30px;
		height: 30px;
		background-color: white;
		cursor: pointer;
	}

    .ImageLeftside {
		border-top-left-radius: 0.8rem;
		border-top-right-radius: 0.8rem;
	}
	.sharer-float {
		display: none;
	}
	.slide-up {
		transform: translateY(0px);
	}
	.slide-down {
		transform: translateY(90px);
	}
	.visible-sm {
		visibility: visible;
		opacity: 1;
	}
	.hidden-sm {
		visibility: hidden;
		opacity: 0;
	}
}